::-webkit-scrollbar {
    width: 4px; 
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: var(--border-radius-sm); 
    box-shadow: var(--shadow-sm); 
    transition: background 0.3s ease, transform 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-dark); 
    transform: scale(1.1);
}

::-webkit-scrollbar-track {
    background: var(--light-alt);
    border-radius: var(--border-radius-sm);
}

::-webkit-scrollbar-corner {
    background: var(--light);
}

::-webkit-scrollbar {
    width: 4px; 
}